body {
    text-align: center;
    font-family: "lunatix", sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    background-color: #2B2B2B;
    color: #DDDCD1;
}

a {
    color: #DDDCD1;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #AF0105;
    padding: 10px 20px;
}

button {
    display: flex;
    justify-content: center;
    background: #DDDCD1;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    width: 40px;
    height: 40px;
}

input {
    display: flex;
    justify-content: center;
    background: #DDDCD1;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 22px;
    outline: none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    font-family: "lunatix", sans-serif;
}

.logo {
   width: auto;
   height: 80px;
}

.logo, .title, .search-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: 0;
    opacity: 0;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.search-container {
    position: relative;
}

.search-icon i {
   transform: translateY(2px);
}

/* h1 {
    margin-top: 10px;
} */

/* index.html */

.video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    padding-left: 0;
    list-style-type: none;
}

.video-list-item {
    max-width: 200px;
}

.video-thumbnail {
    margin-top: 50px;
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
}

#feature-container {
   position: relative;
   max-width: 100%;
   width: 100%;
   height: 230px;
}

#feature-new {
   max-width: 100%;
   width: 100%;
   height: 200px;
}

#feature-new img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: none;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center
}

 .overlay-text {
    position: absolute;
    top: -10;
    left: 50%;
    width: 50%;
    height: 200px;
    margin-bottom: 50%;
    background: rgb(0, 0, 0, 0.3); 
    backdrop-filter: blur(10px);  
}

.overlay-text h4 {
    position: relative;
    font-size: -10em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50%; 
    margin-left: 5px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translateY(-15px)
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
.dot-container {
    text-align:center;
    width: 100%;
}

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #DDDCD1;
    border-radius: 50%;
    display: inline-block;
    /*transition: background-color 0.6s ease;*/
  }
  
  .active, .dot:hover {
    background-color: #938f6c;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/* horisontal scroll list */

.scroll-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  width: 100%;
  height: 150px;
}

.scroll-container li {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 150px;
  min-width: 100px;
  margin-left: 10px;
  background-size: cover;
}

.scroll-container li span {
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 10%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  border: 0cm;
}


/* watch.html */


#video-title {
    margin-top: 5px;
    font-size: 1.0em;
    padding-right: 70px;
    padding-left: 10px;
    text-align: left;

}

#video-container video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

#reactions-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    gap: 10px;
    margin-top: 30px;
}

#favorite-button .fa-solid {
    color: #f00;
}