body {
    text-align: center;
    font-family: "lunatix", sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    background-color: #2B2B2B;
    color: #DDDCD1;
}

a {
    color: #DDDCD1;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #AF0105;
    padding: 10px 20px;
}

button {
    display: flex;
    justify-content: center;
    background: #DDDCD1;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    width: 40px;
    height: 40px;
}

input {
    display: flex;
    justify-content: center;
    background: #DDDCD1;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 22px;
    outline: none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    font-family: "lunatix", sans-serif;
}

.logo {
   width: auto;
   height: 80px;
}

.logo, .title, .search-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: 0;
    opacity: 0;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.search-container {
    position: relative;
}

.search-icon {
   
}

h1 {
    margin-top: 50px;
}

/* index.html */

.video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    padding-left: 0;
    list-style-type: none;
}

.video-list-item {
    max-width: 200px;
}

.video-thumbnail {
    margin-top: 50px;
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
}

/* watch.html */

#video-container {
}

.video-title {
    margin-top: 5px;

}

#video-container video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

#reactions-container {
    margin-top: 30px;
}

#favorite-button .fa-solid {
    color: #f00;
}